@font-face {
    font-family: Gilroy;
    src: url("font/Gilroy-RegularItalic.woff");
}

html {
    font-family: Gilroy;
    color: #242C30;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/* header's styles */
header {
    width: 100vw;
    height: 120px;
    background-color: #f3f2e0;
    position: fixed;
    padding: 0px;
    margin: 0;
    text-align: center;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
}

header h3 {
    font-size: 40px;
    color: #242C30;
}

header img {
    width: 100px;
    height: 100px;
    margin: 10px 20px 10px 20px;
}

header ul {
    height: 100%;
    width: 75vw;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #865B44;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    flex: 1;
    transition: all 0.3s;
    margin-right: 15px;
}
header ul li a{
    display: block;
    color: #f3f2e0;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
header li a:hover {
    background-color: #242C30;
    transform: scale(1.2);
}

h3 a {
    text-decoration: none;
    color: #242C30;
}

h3 a:visited {
    text-decoration: none;
    color: #242C30;
}

.burger-btn {
    display: none; /* Скрываем кнопку на больших экранах */
    font-size: 30px;
    background: none;
    border: none;
    color: #f3f2e0;
    cursor: pointer;
    
}

@media (max-width: 1300px) {
    .burger-btn {
        display: block;
        margin-right: 50px;
        top: 0;
        right: 0;
        z-index: 2;
    }

    header {
        background-color: #865B44;
        
    }

    header h3, header h3 a {
        color: #f3f2e0 !important; /* Принудительное применение цвета */
    }
    header ul {
        position: fixed;
        top: 120px; /* Высота шапки */
        left: -100%; /* Скрываем меню за пределы экрана */
        flex-direction: column;
        width: 100%;
        max-height: 88vh; /* Оставляем место для шапки */
        overflow-y: auto; /* Добавляем прокрутку если содержимое выходит за пределы высоты */
        transition: 0.3s;
        z-index: 1; /* Убедитесь, что меню под кнопкой */
        padding-bottom: 1rem; /* Добавляем немного пространства внизу */
    }

    header ul li {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    header ul li a {
        font-size: 3vw;
    }
}

@media (max-width: 800px) {
    header ul li a {
        font-size: 5vw;
    }
}




/* main's styles */
main {
    margin-top: 120px; /* чтобы контент не перекрывался header */
    padding: 20px 0;
    background-color: #f3f2e0;
    background-size: cover;
    width: inherit;
    display: flex;
    
}

.contact-info, .contact-form {
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
    flex: 1;
}



.contact-info {
    display: flex;
    flex-direction: column; /* Изменено на column для вертикального стека */
    align-items: center; /* Центрирует кнопки по горизонтали */
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
}

.contact-info button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 7vh;
    margin: 5px; /* Уменьшен отступ для лучшего размещения кнопок */
    font-size: 20px;
    font-style: italic;
    background-color: #865B44;
    color: #f3f2e0;
    border-radius: 20px;
    margin-bottom: 10px; /* Добавлен нижний отступ между рядами кнопок */
}

/* Добавляем обертку для кнопок, чтобы они располагались в два ряда */
.buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Равномерно распределяет кнопки в ряду */
    width: 100%; /* Задает полную ширину для обертки */
}

/* Обертка для каждого ряда кнопок */
.button-row {
    width: 100%; /* Задает полную ширину для ряда */
    display: flex;
    justify-content: space-around; /* Равномерно распределяет кнопки в ряду */
}



ul {
  list-style-type: none;
  padding: 0;
  font-size: 24px;
}
li {
  margin-bottom: 10px;
}

button img {
    width: 20%;
    height: 100%;
    margin-right: 10px;
}

.contact-info button:hover {
    background-color: #242C30;
    transform: scale(1.1);
}

.contact-form button {
    width: 45vw;
    height: 7vh;
    font-size: 25px;
    font-style: italic;
    margin-top: 20px;
    background-color: #865B44;
    color: #f3f2e0;
    border-radius: 20px;
    justify-content: center;
}

.contact-form button:hover {
    background-color: #242C30;
}

input[type="text"], input[type="email"] {
    width: 50vw;
    height: 5vh;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.contact-form {
    font-size: 24px;
}

textarea {
    resize: none;
    width: 50vw !important;
    height: 25vh !important;
}

.contact-info button p {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

@media (max-width: 1300px) {
    main {
      flex-direction: column;
    }
  
    .contact-info, .contact-form {
      width: auto;
      margin: 10px auto; /* Центрирует блоки по горизонтали */
    }
}
  


/* Медиа-запрос для мобильных устройств с максимальной шириной 768px */
@media (max-width: 1000px) {
    .contact-info {
        flex-direction: column; /* Столбцовое расположение для контейнера */
    }

    .buttons-wrapper {
        flex-direction: column; /* Столбцовое расположение для обертки кнопок */
    }

    .button-row {
        flex-direction: column; /* Столбцовое расположение для каждого ряда кнопок */
    }

    .contact-info button {
        width: 80%; /* Увеличиваем ширину кнопок для мобильных устройств */
        margin: 10px auto; /* Центрируем кнопки и добавляем отступ сверху и снизу */
    }
}

/* footer's styles */
footer {
    width: inherit;
    height: 150px;
    background-color: #242C30;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    margin: 0;
    left: 0;
}

footer p{
    color:#f3f2e0;
    font-size: 20px;
    text-align: center;
}


#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #242C30;
    color: #f3f2e0;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#scrollToTopButton:hover {
    background-color: #555;
}